<div>
<style type="text/css">
body {
    overflow-x: hidden;
}
#slideout {
  padding-top: 20px;
	background: rgb(241, 141, 47);
	position: absolute;
	width: 1000px;
	height: 480px;
	top: 45%;
	right: -1000px;
	padding-left: 0px;
	margin-top: -200px;
	z-index: 5;
}
    
#clickme {
    position: absolute;
    top: 10; left: -20px;
    height: 20px;
    width: 20px;
    z-index: 5;
}

#slidecontent {
    float:left;
    z-index: 5;
}
</style>
<body>

	<div id="slideout">
	    <div id="slidecontent">
				<% user.jobs.each do |job| %>
					<li>
						<div class="job-info">
							<h5><%= job.name %></h5>
							<p><%= job.company %></p>
						</div>
						<div class="buttons">
							<button>Apply</button>
						</div>
					</li>
				<%end%>
	    </div>
	    <div id="clickme">
	        <img src="http://www151.lunapic.com/editor/working/137332895218618?784046650">
	    </div>
	</div>
</body>
</div>