<div>
<style type="text/css">
body {
    overflow-x: hidden;
}
#slideout {
  padding-top: 20px;
	background: rgb(241, 141, 47);
	position: fixed;
	width: 1000px;
	height: 480px;
	top: 45%;
	right: -1000px;
	padding-left: 0px;
	margin-top: -200px;
	z-index: 5;
}
    
.crazy {
    position: absolute;
		margin-top: 80px;
		width: 150px;
		background-color: #e74c3c;
		height: 50px;
		border-radius: 5px;
		text-align: center;
		padding-top: 10px;
		margin-left: -100px;
		-webkit-transform: rotate(-90deg);
		top: 30px;
}

#baz {
    color: white;
    font-size: 2em;
    /*padding: auto;*/
    font-family: 'Lato', sans-serif;
}

.crazy:hover {
    background-color: rgb(168, 54, 43);
}

#slidecontent {
    float:left;
    z-index: 5;
}
</style>
<body>

	<div id="slideout">
	    <div id="slidecontent">
				<% user.jobs.each do |job| %>
					<li>
						<div class="job-info">
							<h5><%= job.name %></h5>
							<p><%= job.company %></p>
						</div>
						<div class="buttons">
							<button>Apply</button>
						</div>
					</li>
				<%end%>
	    </div>
	    <div class="crazy">
    		<a id="baz">Queue</a>
			</div>
	</div>
</body>
</div>