%section.search
  .logo
  =form_tag search_path, :method => 'get' do
    = text_field_tag :search, params[:search], :placeholder => "Enter keywords here", :class => "home-search", :style => "border: none;"
    %p.location
      Looking for Jobs in 
  %ul.search-results

:javascript
    if (navigator.geolocation)
      {
      navigator.geolocation.getCurrentPosition(sendPositionToServer);
      }
    else{x.innerHTML="Geolocation is not supported by this browser.";}
  function sendPositionToServer(position){
    $.cookie('lat', position.coords.latitude);
    $.cookie('lon', position.coords.longitude);
    };

%script{:id => "results", :type => "template"}
  {{#jobs}}
  %li
    .job-info
      %h1 {{name}}
    .buttons
      %button Not Relevant
      %button Add to Queue
      %button More info
  {{/jobs}}
