%section.search
  .logo
  =form_tag search_path, :method => 'get' do
    = text_field_tag :search, params[:search], :placeholder => "Enter keywords here", :class => "home-search", :style => "font-size: 48px; border: none;"
    %p.location
      Looking for Jobs in 
  %ul.search-results

:javascript
    if (navigator.geolocation)
      {
      navigator.geolocation.getCurrentPosition(sendPositionToServer);
      }
    else{x.innerHTML="Geolocation is not supported by this browser.";}
  function sendPositionToServer(position){
    $.cookie('lat', position.coords.latitude);
    $.cookie('lon', position.coords.longitude);
    };
