-jobs.each do |job|
  %li
    .job-info
      %h1= job.name
    .buttons
      %button Not Relevant
      -if current_user.list.jobs.include?(job) == false
        =link_to "+ Queue", add_to_queue_path(job), class: "button add_to_queue" 
      %button More info
    %ul.more-info{:style => "display:none;"}
      %li= job.company
      %li= job.source_url
      %li
        %p= job.description
