-jobs.each do |job|
  %li
    .job-info
      %h1= job.name
    .buttons
      %button Not Relevant
      %button Add to Queue
      %button More info
    %ul.more-info{:style => "display:none;"}
      %li= job.company
      %li= job.source_url
      %li
        %p= job.description
