:javascript
  function linkedIn(){
    window.location.replace('/auth/linkedin');
  }
%section.call_to_action
  .inner_container
    .catchphrase
      %h1 Lorem Ipsum
      %h3 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    .sign_up_form
      %img{src: 'https://cofoundster.com/img/linkedin-button-signin.png', onclick: "linkedIn();" } 
%section.more_info
  %h1 Catchphrase
  %h3 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  .row
    %h1 put stuff here
    .marketing#1
    .marketing#2
    .marketing#3