:javascript
  $(function() {
      $( "#catalog li" ).draggable({
        appendTo: "body",
        helper: "clone"
      });
      $( "#cart ol" ).droppable({
        activeClass: "ui-state-default",
        hoverClass: "ui-state-hover",
        accept: ":not(.ui-sortable-helper)",
        drop: function( event, ui ) {
          var job_id = ui.draggable.attr('id');
          $( this ).find( ".placeholder" ).remove();
          $( "<li id=" + job_id + "></li>" ).text( ui.draggable.text() ).appendTo( this );
          $("#"+job_id).remove();
        }
      }).sortable({
        items: "li:not(.placeholder)",
        sort: function() {
          $( this ).removeClass( "ui-state-default" );
        }
      });

     $("#catalog ul").droppable({
      drop: function(event, ui) {
          $(ui.draggable).remove();
      },
      hoverClass: "ui-state-hover",
      accept: '.cart-item'
    });
  });
%h1= @user.name

%h2 Your feed
%div{:id => "catalog"}
  %ul
  -@jobs.each do |job|
    %li{:id => job.id, :class => "job"}= job.name

%div{:id => "cart"}
  %h1{:class => "ui-widget-header"} Job Queue
  %div{:class => "ui-widget-content"}
    %ol
      %li{:class => "placeholder"} Add you jobs here
