.feed_container
  .feed
    %ul.jobs
      .jobs_header 
        %h3 Jobs
  %script{:id => "results", :type => "template"}
    {{#jobs}}
    %li{:id => "{{id}}", :class => 'feed-job'}
      .job-info
        %h1 {{name}} - {{company}}
        %p.desc {{description}}
        %a.more_info more info
    {{/jobs}}
    
