// :javascript
//   function linkedIn(){
//     window.location.replace('/auth/linkedin');
//   }
// %section.call_to_action
//   .inner_container
//     .catchphrase
//       %h1 Lorem Ipsum
//       %h3 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
//     .sign_up_form
//       %img{src: 'https://cofoundster.com/img/linkedin-button-signin.png', onclick: "linkedIn();" } 
// %section.more_info
//   %h1 Catchphrase
//   %h3 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
//   .row
//     %h1 put stuff here
//     .marketing#1
//     .marketing#2
//     .marketing#3
:css
  body {
    padding-top: 0px !important;
    background-color: white;
    background-image: url(http://hdwallpapers-desktop.com/Animals-Desktop-Wallpapers/images/Kangaroo%20Silhouettes.jpeg);
    height: 100%;
    width: 100%;
    background-size: 100% 111%;
  }
  .stuff {
    font-family: "Helvetica Neue",Arial,sans-serif;
    position:fixed;
    left: 33%;
    top: 24%;
    font-size: 30px;
    color: white;
  }

  .below {
    font-size: 20px;
    color: rgb(29, 15, 15);
    font-weight: 400;
  }

  .signup {
    font-weight: bold;
  }

  .buttons {
  }

  .linkedin_button, .facebook_button, .google_button{
    / position: fixed;
    / height: 55px;
    / width: 344px;
    / left: 57%;
    top: 24%;
    background-color: rgb(55, 58, 61);
    / border-radius: 6px;
    / height: 57px;
    / font-family: "Helvetica Neue",Arial,sans-serif;
  }

  .facebook_button {
    / top: 31%;
  }

  .linkedin_button:active {
    background-color: rgb(22, 58, 111);
  }

  .google_button {
    / top: 38%;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
  }
  .icon-linkedin {
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
  }
  .icon-facebook {
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
  }

  span.crap {
    font-size: 22px;
    font-weight: bold;
    color: white;
    line-height: 55px;
    font-family: 'Lato', sans-serif;
  }

  .google_button > span {
    padding-left: 6px;
  }

  h1 {
    position: fixed;
    left: 64%;
    top: 4%;
    font-family: 'Montserrat Subrayada', sans-serif;
    color: white;
    width: 180px; 
    text-align: center;
    font-size: 60px;
    }

  #bryant {
    border-radius: 3px;
    margin-top: 4%;
    box-shadow: 1px 1px 1px rgb(56, 54, 54);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  #bryant:hover {
    background-color: #02678b;
  }

  .ninja {
    margin-top: 100%;
    margin-left: 9%;
    width: 106%;
  }

  .icon-google-plus {
    margin-left: 10px;
  }

.left

.left
  .stuff
    .signup
    /   Sign up for JobHopper 
    / %h2.below Jobhopper is your best source for jobs.
  .ninja
    .linkedin_button{:id => "bryant"}    
      %i.icon-linkedin.icon-2x
      %span.crap Sign up with LinkedIn

    .facebook_button{:id => "bryant"}
      %i.icon-facebook.icon-2x
      %span.crap Sign up with Facebook

    .google_button{:id => "bryant"}
      %i.icon-google-plus.icon-2x
      %span.crap Sign up with Google

  .aispfu
    %h1 JobHopper

.right

:javascript
  document.onclick = function(event) {
    var el = event.target;
    if (el.className == "crap" || el.className == "linkedin_button") {
        window.location.href = '/auth/linkedin';
    }
  };


