%h1= @user.name + "'s Dashboard"
%h2 Your Queue
-@user.list.jobs.each do |job|
  %li
    .job-info
      %h1= job.name
      %p=  job.company
    .buttons
      =link_to "Remove from Queue", remove_from_queue_path(job), class: "button remove_from_queue"
      %button Apply
