.dashboard
  .left-bar
    .events
      %h3 Upcoming Events
      PUT EVENTS HERE
    .schedule
      %h3 Schedule
      PUT CALENDAR HERE
  .right-bar
    .options
      %h2 Options
      MOCK DATA
      %canvas#myChart{:width => 200, :height => 200}

