.wizard_container
  .new_skills
    %h3 Pick locations you're interested in
    = form_tag search_locations_path, :class => "user_tags", :method => "get" do
      = text_field_tag :search, params[:search], :placeholder => "Search for Locations", :class => "wizard-search"
    %a{href: '/'}
      %button{:class => "large expand"} Finished
    %ul.tag_results
  .skills
    %h3 Current Locations
    %ul.skills-list
      -@user_locs.each do |loc|
        %li
          %button=loc.name 