.location
  %h3= @user.location
.new_skills
  %h3 Pick locations you're interested in
  = form_tag user_tags_path, :class => "user_tags", :method => "post" do
    = select_tag "user_tags[tags][]", options_from_collection_for_select(@locations, "id", "name"), {:multiple => true, :class => "chzn-select" }
    =hidden_field_tag "user_tags[user_id]", current_user.id

    =submit_tag "Add"

    =link_to "Finished", user_feed_path(current_user), :class => "button"
.skills
  %ul.skills-list
  -@user_locs.each do |loc|
    %li
      %button=loc.name 
      %a.delete{:id => loc.id, :href => '#'} X 