.wizard_container
  =render :partial => 'wizards/search', :locals => {:skills => current_user.skills, header_1: "Search Skills and Locations", header_2: "Current Skills and Locations", back: '/wizards/locations', feed: 'Next'  }