=javascript_include_tag "wizards"
=javascript_include_tag "skills"
.wizard_container
  =render :partial => 'wizards/search', :locals => {:skills => current_user.skills, header_1: "Search Skills", header_2: "Current Skills", back: '/wizards/locations', feed: 'Next'  }