@import "foundation";

/*universal*/

html {
  overflow-x: hidden;
}
body {
  padding-top: 0px !important;
  background-color: #3c8fc9;
}

#wrapper {
  width: 100%;
}

.container {
  min-height: 900px;
  top: 10px;
}

.top-bar  h1  {
  color: white;
}

.title-area { 
  padding-left: 25px;
  width: 79%;
}

.title-area form {
  margin-top: -46px;
  margin-left: 16%;
  width:125%;
}

.top-bar {
  top:0px;
  position: fixed !important;
}

.home-search {
  border-radius: 30px;
}

/* home */ 

.logo {
  background:url(/assets/logo.jpg);
  background-size:80px 60px;
  background-repeat:no-repeat;
  
}

.home-search input {
  font-size:48px !important;
  border: none !important;
}


.search-results {
  list-style: none;
}

.search-results li {
  margin-left: 15%;
  height: 100px;
}

.job-info {
  margin: 0;
  width: 50%;
  float:left;
  padding: 1%;
}

.job-info h1 {
  margin: 0;
  font-size:18px;
}

.job-info h3 {
  margin: 0;
  font-size:10px;
}

.job-buttons {
  float: left;
  width: 50%;
}

nav.top-bar {
  position: fixed;
  z-index: 100;
  // background-image:url('https://abs.twimg.com/a/1372759208/t1/img/twitter_web_sprite_bgs.png');
  background-repeat: repeat;
}

ul.right li {
  // background-image:url('https://abs.twimg.com/a/1372759208/t1/img/twitter_web_sprite_bgs.png');
  background-repeat: repeat;
}

.add_to_queue {
  float: right;
}


/* feed */ 

.feed {
  width: 100%;
  float: left;
}

.jobs li {
  list-style:none;
}

.job-info {
  float: left;
  clear: left;
}

.job-info h3 {
  font-size: 14px;
}

p {
  margin: 0
}

/* wizards */

.wizard_container {
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 2%;
  background-image:url('https://abs.twimg.com/a/1372759208/t1/img/wash-white-30.png');
  border-radius: 8px;
  min-height:600px;
}

.wizard_container h1 {
  text-align:center;
  color: white;
}

.search-field {
  height: 70px;
  width: 100%;
}

.search-field {
  width: 100%;
}

.skills-list li{
  list-style:none;
}

ul.skills-list li{
  display: inline;
}

.new_skills {
  float:left;
  width:48%;
  border-radius: 6px;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: #333;
  padding-top:10px;
}

.new_skills h3{
  color: white;
}

.skills {
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 11px;
  padding: 2%;
  float: right;
  width:50%;
  background-color: #333;
}

.skills h3 {
  text-align: center;
  color: white;
}

.default {
  width: 100% !important;
  height: 80% !important;
  font-size: 20px !important;
}

/* feed */

.feed_container {
  margin-top: 4%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 2%;
  background-image:url('https://abs.twimg.com/a/1372759208/t1/img/wash-white-30.png');
  border-radius: 8px;
}

.feed_container {
  float: left;
}

.job-info-feed {
  float: left;
  width: 50%;
}

.feed {
  // background-color: #;
  border-radius: 8px;
}

.feed-job {
  padding-top: 1.1%;
  float: left;
  width: 100%;
  border-radius: 4px;
  padding: 1%;
  border-bottom: 1px solid #ccc; 
  background-color: #E6E6E6;
  margin-bottom: 5px;
}

.desc {
  width: 200%;
}


.jobs_header h3 {
  color: white;
  padding-left: 2%;
}

/* user show */

.user_container {
  margin-top: 4%;
  margin-left: 8%;
  margin-right: 8%;
  padding: 2%;
  background-image:url('https://abs.twimg.com/a/1372759208/t1/img/wash-white-30.png');
  border-radius: 8px;
}

.job-info {
  float: left;
  width: 50%;
}

.job-info h3{
  font-size:18px;
}

/* results */

.search_container {
  margin-top: 4%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 2%;
  background-image:url('https://abs.twimg.com/a/1372759208/t1/img/wash-white-30.png');
  border-radius: 8px;
}

