@import "foundation";

/*universal*/

.right {
  width: 45%;
  background-color: white;
} 

.left {
  
}

.left, .right, .container, #wrapper, body, html {
 
}

.left {
 
}

body {
  padding-top: 0px !important;
  background-color: rgb(20, 51, 71);
}

html {
  overflow-x: hidden;
  // overflow-y: hidden;
}



#wrapper {
  width: 100%;
}

.container {
  min-height: 900px;
  top: 10px;
}

.top-bar  h1  {
  color: white;
}

.title-area { 
  padding-left: 25px;
  width: 79%;
}

.title-area form {
  margin-top: -46px;
  margin-left: 16%;
  width:125%;
}

.top-bar {
  top:0px;
  position: fixed !important;
}

.home-search {
  border-radius: 30px;
}

/* home */ 

.logo {
  background:url(/assets/logo.jpg);
  background-size:80px 60px;
  background-repeat:no-repeat;
  
}

.home-search input {
  font-size:48px !important;
  border: none !important;
}


.search-results {
  list-style: none;
}

.search-results li {
  margin-left: 15%;
  height: 100px;
}

.job-info {
  margin: 0;
  width: 50%;
  float: left;
  padding: 1%;
}

.job-info h1 {
  margin: 0;
  font-size:18px;
}

.job-info h3 {
  margin: 0;
  font-size:10px;
}

.job-buttons {
  float: left;
  width: 50%;
}

nav.top-bar {
  position: fixed;
  z-index: 100;
  // background-image:url('https://abs.twimg.com/a/1372759208/t1/img/twitter_web_sprite_bgs.png');
  background-repeat: repeat;
}

ul.right li {
  // background-image:url('https://abs.twimg.com/a/1372759208/t1/img/twitter_web_sprite_bgs.png');
  background-repeat: repeat;
}

.add_to_queue {
  float: right;
  margin-top: 5px;
  margin-right: 3px;
}


/* feed */ 

.feed {
  width: 100%;
  float: left;
}

.jobs li {
  list-style:none;
}

.job-info {
  float: left;
  clear: left;
}

.job-info h3 {
  font-size: 14px;
}

p {
  margin: 0
}

/* wizards */

.wizard_container {
  margin-top: 4%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 1%;
  background-image:url('https://abs.twimg.com/a/1372759208/t1/img/wash-white-30.png');
  border-radius: 8px;
  min-height:600px;
  position: absolute;
  width: 90%;
}

.tag-info{ 
  float: left;
  width: 100%;
  border-radius: 7px;
  padding: 1%;
  background-image:url("https://abs.twimg.com/a/1372759208/t1/img/wash-white-30.png");
  border-bottom: 5px;
  margin-bottom: 10px;
}

.tag-name {
  float: left;
  width: 50%;
}

.tag-buttons {
  float: right;
  width: 50%;
}


.wizard-search {
  width: 100%;
  font-size:24px !important;
  height:60px !important;
  border-radius: 5px;
}

.wizard_container h1 {
  text-align:center;
  color: white;
}

.search-field {
  height: 70px;
  width: 100%;
}

.search-field {
  width: 100%;
}

.skills-list li{
  list-style:none;
}

ul.skills-list li{
  display: inline;
}

.tag_results {
  list-style:none;
}

.new_skills {
  float:left;
  width:48%;
  border-radius: 6px;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: #333;
  padding-top:10px;
  height: 50%;
}

.new_skills h3{
  color: white;
}

.skills {
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 6px;
  padding: 2%;
  float: right;
  width:50%;
  background-color: #333;
}

.skills h3 {
  color: white;
}

.default {
  width: 100% !important;
  height: 80% !important;
  font-size: 20px !important;
}

/* feed */

.feed_container {
  margin-top: 4%;
  margin-left: 20%;
  margin-right: 20%;
  width:55%;
  padding: 2%;
  border-radius: 3px;
}

.feed_container {
  float: left;
}

.job-info-feed {
  float: left;
  width: 50%;
}

.feed {
  // background-color: #;
  border-radius: 8px;
}

.feed-job {
  padding-top: 1.1%;
  float: left;
  width: 100%;
  border-radius: 2px;
  padding: 1%;
  border-bottom: 1px solid #ccc; 
  background-color: white;
  margin-bottom: 5px;
}

.desc {
  width: 200%;
}


.jobs_header h3 {
  color: white;
  padding-left: 2%;
}

/* user show */

.user_container {
  margin-top: 4%;
  margin-left: 8%;
  margin-right: 8%;
  padding: 2%;
  background-image:url('https://abs.twimg.com/a/1372759208/t1/img/wash-white-30.png');
  border-radius: 8px;
}

.job-info {
  float: left;
  width: 50%;
}

.job-info h3{
  font-size:18px;
}

/* results */

.search_container {
  margin-top: 4%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 2%;
  background-image:url('https://abs.twimg.com/a/1372759208/t1/img/wash-white-30.png');
  border-radius: 8px;
  float: left;
}

.feed-job {
  float: left;
}

/* job show */

.job_show {
  margin-top: 7%;
  line-height: 23px;
  width: 75%;
  padding: 5%;
  border-radius: 2px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  background-color: white;
}

.job-description {
  margin-top: 50px;
}

.company_name {
  font-weight: 200;
  margin-top: -5%;
  margin-left: -2px;
}

/* notifications */

.notifications {
    display:none;
    float: right;
    margin-top: 3%;
    margin-right: 9%;
    background-image: url('/assets/navy_blue.png');
    list-style: none;
    width: 17%;
    padding-left: 1%;
    padding-top: 1%;
    border-radius: 6px;
    position:absolute;
    left: 74%;
    overflow-y: visible;
}

.notification_list{
  list-style: none;
  float:left;
}

li.notification {
  float: left;
  background-color: #E6E6E6;
  height: 50px;
  width: 102%;
  padding-top: 7%;
  padding-left: 10px;
  border-bottom: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 5px;
}

.wrapper-dropdown-1 {
  position: relative;
  width: 200px;
  padding: 10px;
  margin: 0 auto;
  background: #34495e;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}
.wrapper-dropdown-1:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -6px;
  border-width: 6px 0 6px 6px;
  border-style: solid;
  border-color: transparent #fff;    
}
.wrapper-dropdown-1 .dropdown {
  /* Size & position */
  position: absolute;
  top: 100%;
  left: 0; /* Size */
  right: 0; /* Size */

  /* Styles */
  background: #fff;
  font-weight: normal; /* Overwrites previous font-weight: bold; */

  /* Hiding */
  opacity: 0;
  pointer-events: none;
}

.wrapper-dropdown-1 .dropdown li a {
  display: block;
  text-decoration: none;
  color: #9e9e9e;
  padding: 10px 20px;
}

/* Hover state */
.wrapper-dropdown-1 .dropdown li:hover a {
  background: #7f8c8d;
}
.wrapper-dropdown-1.active .dropdown {
  opacity: 1;
  pointer-events: auto;
}

.wrapper-dropdown-1.active:after {
  border-color: #9bc7de transparent;
  border-width: 6px 6px 0 6px ;
  margin-top: -3px;
}
 
.wrapper-dropdown-1.active {
  background: #34495e;
  background: linear-gradient(to right, #34495e 0%, #34495e 78%, #ffffff 78%, #ffffff 100%);
}

.icon-ban-circle:hover {
  color: red;
}

